PUBLIC_BASE_URL_REF=PUBLIC_BASE_URL_PLACEHOLDER
DATABASE_URL_REF=DATABASE_URL_REF_PLACEHOLDER
SECRET_PROVIDER_REF=SECRET_PROVIDER_REF_PLACEHOLDER
STORAGE_PROVIDER_REF=STORAGE_PROVIDER_REF_PLACEHOLDER
TLS_CERT_REF=TLS_CERT_REF_PLACEHOLDER
